* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background: url("./assets/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}


.box {
  border-radius: 15px;
  border: 2px solid rgba(255, 255, 255, 0.42);
  background: rgba(0, 0, 0, 0.117);
  box-shadow: 0px 0px 73.3px 2px rgba(255, 255, 255, 0.329);
  backdrop-filter: blur(35px);
}

.swap {
  animation: .5s ease-in-out;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(180deg);
  }
}